
DATABASE_URL="postgresql://neondb_owner:npg_dmHyiDnV16To@ep-small-star-ainga67q-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="e2265642-264c-4b85-b041-1e1c92d6b327"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"


ETHEREAL_USER=""
ETHEREAL_PASS=""
